/* Creazione grafica della navbar */
.main-navbar{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: blue;
    padding: 20px;
    align-items: center;
}

.resize-logo{
    height: 50px;
    width: 180px;
}