.main-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-type-login{
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
}