html, body{
    overflow-x: none!important;
    overflow-x: hidden!important;
}
  
.row{
    margin: 0!important;
}

.mt-120{
    margin-top: 120px!important;
}

.mb-30{
    margin-bottom: 30px!important;
}

.invisibile{
    display: none!important;
}